# Dependencies
node_modules/

# Environment files
.env
.env.local

# Firebase service account (NEVER commit)
serviceAccountKey.json

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# docs
mini-hcm-docs/

